/* Body styling */

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0px;
    font-family: 'Arial (Hebrew)', Arial;
    font-size: 15px;
    font-weight: bold;
}

/* Header styling */

header {
    height: 105px;
    background-image: linear-gradient(#AAAAAA, #999999);
    border-radius: 1px;
    position: relative;
}

header>.pz-logo {
    position: absolute;
    top: 32px;
    right: 505px;
    z-index: 10;
}

/* nav styling*/

.top-menu {
    position: absolute;
    top: 60px;
    margin-right: 600px;
}

.top-menu>ul>li>a {
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 15px;
}

.top-menu>ul>li {
    display: inline-block;
    border-right: 1px solid whitesmoke;
    
}


.top-menu>ul>li>a:hover {
    color: rgb(27, 27, 146);
    text-decoration-line: underline;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #AAAAAA;
    text-align: right;
    width: 120px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 10;
    top:20px;
}

.dropdown-content>a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: whitesmoke;
}

.dropdown-content>a:hover {
    background-color: #666666;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

/* Main page content styling */

.all-container {
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
}

.main-images {
    margin-top: 30px;
    display: block;
    padding: 0px;
    width: 900px;
}

.images-bg {
    position: relative;
    left: 0;
}

.images-bg>img {
    width: 293px;
    height: 356px;
}

.image-content {
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.image-content>img {
    border-bottom-right-radius: 10px;
}

.padding-img {
    position: relative;
    float: right;
}

.main-container {
    width: 900px;
    margin: auto;
}

/* Page Layout */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: right;
    width: 293px;
    height: 355px;
    margin: 3.5px;
}

/* fotter style*/

footer {
    height: 38px;
    background-image: linear-gradient(#AAAAAA, #999999);
    border-radius: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}