/* Body styling */

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0px;
}


/* Header styling */

header {
    height: 105px;
    background-image: linear-gradient(#AAAAAA, #999999);
    border-radius: 1px;
    position: relative;
}

header>.pz-logo {
    position: absolute;
    top: 97px;
    right: 184px;
}


/* Main page content styling */


/*TODO need to add width to a container*/


/* max-width: 980px; */

.main-images {
    display: block;
    position: relative;
}

.image-content {
    width: 290px;
    height: 350px;
    margin: 0 auto;
}

.main-container {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}


/* Page Layout */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: right;
    width: 33.0%;
}