/* Body styling */

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0px;
}


/* Header styling */

header {
    height: 105px;
    background-image: linear-gradient(#AAAAAA, #999999);
    border-radius: 1px;
    position: relative;
}

header>.pz-logo {
    position: absolute;
    top: 97px;
    right: 184px;
    z-index: 10;
}


/* Main page content styling */

.main-images {
    display: block;
    max-width: 900px;
    height: 355px;
    position: absolute;
    left: 100px;
    top: 40px;
}

.images-bg {
    position: relative;
    left: 0;
    padding: 20px 20px;
}

.images-bg>img {
    width: 293px;
    height: 356px;
}


/* I used "top: 0" to put image on top of background */

.image-content {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 20px;
}

.image-content>img {
    width: 291px;
    height: 354px;
    border-bottom-right-radius: 10px;
}


}
.padding-img {
    position: relative;
    float: right;
}
.main-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    align-items: center;
    position: relative;
}

/* Page Layout */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: right;
    width: 33.33%;
}